body {
    background-color: black;
}

/*******************************************************************/
/* Profile */

.profile_container {
    position: relative;
    padding-left: 10px;
    border-style: solid;
    border-color: black;
}

.profile_icon {
    width: 115px;
    height: 115px;
}

.display_name {
    position: absolute;
    bottom: -5%;
    left: 130px;
    font-size: 1.2cm;
    font-family: NeueHaasGroteskTextPro,-apple-system,BlinkMacSystemFont,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-shadow: 2px 2px black;
}

.display_name_color {
    color: white;
}

.display_name_code_color {
    color: #479ce4;
}

/*******************************************************************/
/* Character list */

.character_container {
    position: relative;
    padding-top: 0.5cm;
    padding-left: 10px;
}

.character_emblem {
    border-style: solid;
    border-color: black;
}

.character_emblem:hover {
    border-style: solid;
    border-color: white;
}

.character_class_name {
    position: absolute;
    top: 30%;
    left: 120px;
    color: white;
    font-size: 0.8cm;
    font-family: NeueHaasGroteskTextPro,-apple-system,BlinkMacSystemFont,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-shadow: 2px 2px black;
}

/*******************************************************************/
/* Character details */

.character_details_header {
    position: relative;
    height: 120px;
    padding-left: 10px;
    border-top: 4px solid white;
}

.character_details_emblem {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: none;
}

.character_details_icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
}

.character_details_class_name {
    position: absolute;
    top: 10px;
    left: 120px;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 0.8cm;
    font-family: NeueHaasGroteskTextPro,-apple-system,BlinkMacSystemFont,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-shadow: 2px 2px black;
}

/*******************************************************************/
/* Stats */

.stats_container {
    position: absolute;
    top: 140px;
    left: 8px;
    width: 30%;
    height: 550px;
    background-color: rgba(255,255,255,0.15);
    padding-top: 20px;
    padding-left: 20px;
}

.sublass_icon {
    widows: 150px;
    height: 150px;
}

.stat_power {
    position: absolute;
    top: 20px;
    left: 50%;
    color: yellow;
    text-shadow: 2px 2px black;
    font-size: 1.5cm;
    font-family: NeueHaasGroteskTextPro,-apple-system,BlinkMacSystemFont,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-shadow: 2px 2px black;
}

.stats_table {
    width: 80%;
    padding-top: 20px;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 0.5cm;
    font-family: NeueHaasGroteskTextPro,-apple-system,BlinkMacSystemFont,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-shadow: 2px 2px black;
}

/*******************************************************************/
/* Weapons & Armor */

.weapons_container {
    position: absolute;
    top: 140px;
    left: 34%;
    width: 30%;
    height: 550px;
    background-color: rgba(255,255,255,0.15);
    padding-top: 20px;
    padding-left: 20px;
}

.armor_container {
    position: absolute;
    top: 140px;
    left: 67.5%;
    width: 30%;
    height: 550px;
    background-color: rgba(255,255,255,0.15);
    padding-top: 20px;
    padding-left: 20px;
}

.item_container {
    position: relative;
    width: 100%;
    height: 110px;
    /* border: 1px solid red; */
}

.icon_container {
    position: absolute;
    top: 0;
    left: 0;
}

.item_icon {
    width: 80%;
    height: 80%;
}

.item_normal {
    border: 3px solid white;
}

.item_masterworked {
    border: 3px solid yellow;
}

.item_season_overlay {
    border: 3px solid rgba(255,255,255,0)
}

.item_name {
    position: absolute;
    top: 0;
    left: 100px;
    text-shadow: 2px 2px black;
    color: white;
    font-size: 0.5cm;
    font-family: NeueHaasGroteskTextPro,-apple-system,BlinkMacSystemFont,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.item_type {
    position: absolute;
    top: 25%;
    left: 100px;
    text-shadow: 2px 2px black;
    color: gray;
    font-size: 0.5cm;
    font-family: NeueHaasGroteskTextPro,-apple-system,BlinkMacSystemFont,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.weapon_ammo_type {
    position: absolute;
    top: 46%;
    left: 130px;
}

.ammo_type_icon {
    width: 36px;
    height: 36px;
}

.weapon_damage_type {
    position: absolute;
    top: 52%;
    left: 100px;
}

.damage_type_icon {
    width: 24px;
    height: 24px;
}

/*******************************************************************/
/* Refresh button */

.refresh_button {
    position: absolute;
    top: 10px;
    left: 95%;
    width: 45px;
    height: 45px;
    border: none;
    background-color: rgba(255,255,255,0.15);
    cursor: pointer;
}

.refresh_static {
    position: relative;
    width: 90%;
    height: 70%;
}

@keyframes spin {
    from { 
        transform: rotate(0deg) 
    }
    to { 
        transform: rotate(359deg) 
    }
}

.resfresh_spin {
    position: relative;
    width: 60%;
    height: 50%;
    animation: spin 2s linear infinite; 
}

/*******************************************************************/
/* Back button */

.back_button {
    position: absolute;
    top: 65px;
    left: 95%;
    width: 45px;
    height: 45px;
    border: none;
    background-color: rgba(255,255,255,0.15);
    cursor: pointer;
}

.back_button_icon {
    position: relative;
    width: 90%;
    height: 70%;
}
