body {
    background-color: black;
}

/*******************************************************************/
/* Profile */

.profile_container {
    position: relative;
    padding-left: 10px;
    border-style: solid;
    border-color: black;
}

.profile_icon {
    width: 115px;
    height: 115px;
}

.display_name {
    position: absolute;
    bottom: -5%;
    left: 130px;
    font-size: 1.2cm;
    font-family: NeueHaasGroteskTextPro,-apple-system,BlinkMacSystemFont,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-shadow: 2px 2px black;
}

.display_name_color {
    color: white;
}

.display_name_code_color {
    color: #479ce4;
}

/*******************************************************************/
/* Character list */

.character_container {
    position: relative;
    padding-top: 0.5cm;
    padding-left: 10px;
}

.character_emblem {
    border-style: solid;
    border-color: black;
}

.character_emblem:hover {
    border-style: solid;
    border-color: white;
}

.character_class_name {
    position: absolute;
    top: 25%;
    left: 100px;
    color: white;
    font-size: 0.8cm;
    font-family: NeueHaasGroteskTextPro,-apple-system,BlinkMacSystemFont,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-shadow: 2px 2px black;
}

/*******************************************************************/
/* Character details */

.character_details_header {
    position: relative;
    height: 50px;
    padding-left: 10px;
    border-top: 4px solid white;
}

.character_details_icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
}

.character_details_class_name {
    position: absolute;
    top: 10px;
    left: 60px;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 0.7cm;
    font-family: NeueHaasGroteskTextPro,-apple-system,BlinkMacSystemFont,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-shadow: 2px 2px black;
}

/*******************************************************************/
/* Weapons */

.weapons_container {
    position: relative;
    top: 5px;
    width: 33%;
    height: 90%;
    background-color: rgba(255,255,255,0.15);
    padding-top: 10px;
    padding-left: 10px;
}

.item_container {
    position: relative;
    width: 100%;
    height: 90px;
}

.icon_container {
    position: absolute;
    top: 0;
    left: 0;
}

.item_icon {
    width: 70%;
    height: 70%;
}

.item_normal {
    border: 3px solid white;
}

.item_masterworked {
    border: 3px solid yellow;
}

.item_name {
    position: absolute;
    top: 0;
    left: 90px;
    text-shadow: 2px 2px black;
    color: white;
    font-size: 0.5cm;
    font-family: NeueHaasGroteskTextPro,-apple-system,BlinkMacSystemFont,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.item_type {
    position: absolute;
    top: 25%;
    left: 90px;
    text-shadow: 2px 2px black;
    color: gray;
    font-size: 0.5cm;
    font-family: NeueHaasGroteskTextPro,-apple-system,BlinkMacSystemFont,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
